<div class="d-flex align-items-center">
    <h1>募集一覧</h1>
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">開催内容</th>
      <th scope="col">場所</th>
      <th scope="col">投稿者</th>
      <th scope="col">投稿日</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.location %></td>
        <td><%= post.name %></td>
        <td><%= post.date %></td>
        <td><%= post.created_at %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to '詳細', post, id: "detail-" + post.id.to_s, class: 'btn btn-outline-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>